{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    <div class="form-group mt-5">
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username, {'label': 'Username', 'attr': {'placeholder': 'Your name', 'class': 'form-control mb-3'}}) }}
            {{ form_row(registrationForm.email, {'label': 'Email', 'attr': {'placeholder': 'Your email', 'class': 'form-control mb-3'}}) }}
            {{ form_row(registrationForm.plainPassword, {'label': 'Password', 'attr': {'placeholder': 'Your password', 'class': 'form-control mb-3'}}) }}
            {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'mt-2 mb-4'}}) }}

            <button type="submit" class="btn btn-success">Register</button> <button type="reset" class="btn btn-secondary">Cancel</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
