{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}

<div class="alert alert-primary mb-4">
    <a href="{{ path('admin_index') }}"><i class="fas fa-caret-left"></i> Back to admin index</a>
</div>

    <h2>{{ category.title }}</h2>

    <div class="row">
        <div class="col">
            {{ category.content | raw}}
        </div>
    </div>

    {#}
    <a class="btn btn-primary" href="{{ path('category_index') }}">back to list</a>

    <a class="btn btn-info" href="{{ path('category_edit', {'id': category.id}) }}">edit</a>

    {{ include('admin/categories/_delete_form.html.twig') }}
    #}
    
{% endblock %}
