{% extends 'base.html.twig' %}

{% block title %}Welcome on Admin dashboard{% endblock %}

{% block body %}

<div class="row">
  <div class="col">
    <div class="bg-light mb-3 py-3 px-3 shadow">
      <h4 class="mb-3 font-weight-bold">PengolinCoin [PGO] infos</h4>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-tech" role="tab"
            aria-controls="nav-home" aria-selected="true">Technical</a>
          <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-exchanges" role="tab"
            aria-controls="nav-profile" aria-selected="false">Exchanges</a>
          <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-partners" role="tab"
            aria-controls="nav-contact" aria-selected="false">Partners</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active text-justify" id="nav-tech" role="tabpanel"
          aria-labelledby="nav-tech-tab">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.</div>
        <div class="tab-pane fade text-justify" id="nav-exchanges" role="tabpanel" aria-labelledby="nav-exchanges-tab">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
          dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
          amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
          aliquam quaerat voluptatem.</div>
        <div class="tab-pane fade text-justify" id="nav-partners" role="tabpanel" aria-labelledby="nav-partners-tab">At
          vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
          corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in
          culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est
          et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus
          id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus
          autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae
          sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
          voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</div>
      </div>
    </div>
    <script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
<coingecko-coin-price-chart-widget currency="usd" coin-id="pengolincoin" locale="en" height="300"></coingecko-coin-price-chart-widget>
  </div>

  <div class="col-3 card py-3 px-3 ml-3">
    <h4 class="border-bottom font-weight-bold mb-3">Statistics</h4>
    <p class="d-flex justify-content-between align-items-center">
      Online articles <span class="badge badge-success badge-pill px-3 rounded"
        style="font-size: 15px;">{{ articles|length }}</span>
    </p>
    <p class="mt-1 d-flex justify-content-between align-items-center">
      Online categories <span class="badge badge-success badge-pill px-3 rounded"
        style="font-size: 15px;">{{ categories|length }}</span>
    </p>
    <p class="mt-1 d-flex justify-content-between align-items-center">
      Registered users <span class="badge badge-success badge-pill px-3 rounded"
        style="font-size: 15px;">{{ users|length }}</span>
    </p>
    <p class="mt-1 mb-3 pb-4 d-flex justify-content-between align-items-center">
      Total page views <span class="badge badge-success badge-pill px-3 rounded" style="font-size: 15px;">54955</span>
    </p>
    <h4 class="border-bottom font-weight-bold mb-3">NEW</h4>
    <div class="text-center pb-4">
      <a href="{{path('article_new')}}" class="btn btn-primary btn-block font-weight-bold rounded shadow"
        style="font-size: 20px;">Create a new article</a>
      <a href="{{path('category_new')}}" class="btn btn-warning btn-block font-weight-bold rounded shadow"
        style="font-size: 20px;">Create a new category</a>
    </div>
    <h4 class="border-bottom font-weight-bold mb-3">LIST</h4>
    <div class="text-center">
      <a href="{{path('admin_articles')}}" class="btn btn-success btn-block font-weight-bold rounded"
        style="font-size: 20px;">Articles list</a>
      <a href="{{path('admin_categories')}}" class="btn btn-info btn-block font-weight-bold rounded"
        style="font-size: 20px;">Categories list</a>
    </div>
  </div>

</div>

{% endblock %}