{% extends 'base.html.twig' %}

{% block title %}Welcome on Admin dashboard{% endblock %}

{% block body %}

<div class="row mt-4">
  <div class="col">
    <div class="bg-light mb-3 py-3 px-3 shadow">
      <h4 class="mb-3 font-weight-bold">PengolinCoin [PGO] infos</h4>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-tech" role="tab"
            aria-controls="nav-home" aria-selected="true">Technical</a>
          <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-exchanges" role="tab"
            aria-controls="nav-profile" aria-selected="false">Exchanges & Platforms</a>
          <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-partners" role="tab"
            aria-controls="nav-contact" aria-selected="false">Partners</a>
          <a class="nav-link" id="nav-social-tab" data-toggle="tab" href="#nav-social" role="tab"
            aria-controls="nav-social" aria-selected="false">Social</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active text-justify" id="nav-tech" role="tabpanel" aria-labelledby="nav-tech-tab">
          <table class="table" style="font-size:0.85rem;">
            <tr>
              <td>
                <ul class="list-group">
                  <li class="list-group-item">Name: PengolinCoin</li>
                  <li class="list-group-item">Ticker: PGO</li>
                  <li class="list-group-item">Genesis date: 22/03/2020</li>
                  <li class="list-group-item">Mine-able: No</li>
                  <li class="list-group-item">Stake-able: Yes (Earn block reward from coin ownership)</li>
                  <li class="list-group-item">Masternode Support: Yes, 100,000 PGO per masternode</li>
                </ul>
              </td>
              <td>
                <ul class="list-group">
                  <li class="list-group-item">Consensus Algorithm: POS</li>
                  <li class="list-group-item">Block time: 60 seconds</li>
                  <li class="list-group-item">Total supply: 100M</li>
                  <li class="list-group-item">Premine: 15M (swap = 11.5M, project = 3.5M)</li>
                  <li class="list-group-item">Dev-Fee: 5% on every block</li>
                  <li class="list-group-item">ICO: No</li>
                  <li class="list-group-item">Difficulty retargetting: every block</li>
                </ul>
              </td>
            </tr>
          </table>
        </div>
        <div class="tab-pane fade text-justify" id="nav-exchanges" role="tabpanel" aria-labelledby="nav-exchanges-tab">
          <table class="table" style="font-size:0.85rem;">
            <thead>
              <tr>
                <th>Exchanges</th>
                <th>Other platforms</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <ul class="list-group" style="font-size:0.80rem;">
                    <li class="list-group-item"><a href="http://hotbit.io/" target="_blank">http://hotbit.io/</a></li>
                    <li class="list-group-item"><a href="http://bkex.com/" target="_blank">http://bkex.com/</a></li>
                    <li class="list-group-item"><a href="https://cratex.io/index.php?pair=PGO/BTC" target="_blank">https://cratex.io/index.php?pair=PGO/BTC</a></li>
                    <li class="list-group-item"><a href="http://kuangex.com/" target="_blank">http://kuangex.com/</a></li>
                    <li class="list-group-item"><a href="https://erex.io/exchange/PGO/BTC/" target="_blank">https://erex.io/exchange/PGO/BTC/</a></li>
                    <li class="list-group-item"><a href="https://www.btcsquare.net/" target="_blank">https://www.btcsquare.net/</a></li>
                    <li class="list-group-item"><a href="https://www.bitsails.com/market?MarketName=BTC-PGO" target="_blank">https://www.bitsails.com/market?MarketName=BTC-PGO</a></li>
                    <li class="list-group-item"><a href="https://www.ztb.com/exchange?coin=PGO_USDT" target="_blank">https://www.ztb.com/exchange?coin=PGO_USDT</a></li>
                    <li class="list-group-item"><a href="https://altex.club/exchange/pgo-btc" target="_blank">https://altex.club/exchange/pgo-btc</a></li>
                    <li class="list-group-item"><a href="https://www.coinbase.com/price/pengolincoin" target="_blank">https://www.coinbase.com/price/pengolincoin</a></li>
                  </ul>
                </td>
                <td>
                  <ul class="list-group" style="font-size:0.85rem;">
                    <li class="list-group-item"><a href="https://coinmarketcap.com/currencies/pengolincoin/" target="_blank">https://coinmarketcap.com/currencies/pengolincoin/</a></li>
                    <li class="list-group-item"><a href="https://www.coingecko.com/en/coins/pengolincoin" target="_blank">https://www.coingecko.com/en/coins/pengolincoin</a></li>
                    <li class="list-group-item"><a href="https://coinpaprika.com/coin/pgo-pengolincoin/" target="_blank">https://coinpaprika.com/coin/pgo-pengolincoin/</a></li>
                    <li class="list-group-item"><a href="https://pecuniaplatform.io/coin-details/PengolinCoin" target="_blank">https://pecuniaplatform.io/coin-details/PengolinCoin</a></li>
                    <li class="list-group-item"><a href="https://coinpare.io/coin/pgo-pengolincoin" target="_blank">https://coinpare.io/coin/pgo-pengolincoin</a></li>
                    <li class="list-group-item"><a href="https://digitalcoinprice.com/coins/pengolincoin" target="_blank">https://digitalcoinprice.com/coins/pengolincoin</a></li>
                    <li class="list-group-item"><a href="https://coinstats.app/en/coins/pengolincoin/" target="_blank">https://coinstats.app/en/coins/pengolincoin/</a></li>
                    <li class="list-group-item"><a href="https://tokenmarketcaps.com/coins/pengolincoin" target="_blank">https://tokenmarketcaps.com/coins/pengolincoin</a></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade text-justify" id="nav-partners" role="tabpanel" aria-labelledby="nav-partners-tab">
          <ul class="list-group" style="font-size:0.85rem;">
            <li class="list-group-item active">#Shared Masternode Listings</li>
            <li class="list-group-item">Shared Masternode: <a href="https://discord.gg/AbPMeyk">https://discord.gg/AbPMeyk</a></li>
            <li class="list-group-item">Zcore: <a href="https://zcore.app/pgo">https://zcore.app/pgo</a></li>
            <li class="list-group-item">Trittium: <a href="https://chains.trittium.cc/PGO/blocks">https://chains.trittium.cc/PGO/blocks</a></li>
            <li class="list-group-item">Nodemn (Chinese): <a href="http://www.nodemn.com/">http://www.nodemn.com/</a></li>
            <li class="list-group-item">MyMasternode.host: <a href="https://www.mymasternodes.host/deployprep?ticker=PGO">https://www.mymasternodes.host/deployprep?ticker=PGO</a></li>
            <li class="list-group-item">LNO Pools: <a href="https://lnopools.com/">https://lnopools.com/</a></li>
            <li class="list-group-item active">#Other partners</li>
            <li class="list-group-item">Partnered with Cryptocurrency Checkout: <a href="https://cryptocurrencycheckout.com/coin/pengolin">https://cryptocurrencycheckout.com/coin/pengolin</a></li>
            <li class="list-group-item">Partnered with Cryptwerk: <a href="https://cryptwerk.com/pay-with/pgo/">https://cryptwerk.com/pay-with/pgo/</a></li>
            <li class="list-group-item">Partnered with Cryptomasters: <a href="https://crypto-masters.club/">https://crypto-masters.club/</a></li>
            <li class="list-group-item">Partnered with Orecoingames Casino: <a href="https://orecoingames.com/">https://orecoingames.com/</a></li>
            <li class="list-group-item">Partnered with Blockspot.io: <a href="https://blockspot.io/coin/pengolincoin/">https://blockspot.io/coin/pengolincoin/</a></li>
          </ul>
        </div>
        <div class="tab-pane fade text-justify" id="nav-social" role="tabpanel" aria-labelledby="nav-social-tab">
          <ul class="list-group" style="font-size:0.85rem;">
            <li class="list-group-item active">#Github</li>
            <li class="list-group-item">Github: <a href="https://github.com/pengolincoin/PengolinCoin-Core">https://github.com/pengolincoin/PengolinCoin-Core</a></li>
            <li class="list-group-item">Github Latest realeases (Windows, Linux, Raspberry Pi): <a href="https://github.com/pengolincoin/PengolinCoin-Core/releases/latest">https://github.com/pengolincoin/PengolinCoin-Core/releases/latest</a></li>
            <li class="list-group-item active">#Channels and groups</li>
            <li class="list-group-item">Discord: <a href="https://discord.gg/XTk8u4w">https://discord.gg/XTk8u4w</a></li>
            <li class="list-group-item">Telegram group (chat): <a href="https://t.me/pengolincoin">https://t.me/pengolincoin</a></li>
            <li class="list-group-item">Telegram channel (news): <a href="https://t.me/PengolinCoinNews">https://t.me/PengolinCoinNews</a></li>
            <li class="list-group-item">Slack: <a href="https://join.slack.com/t/pengolincoinworkspace/shared_invite/zt-htuhp95c-scu3_cwoEjA7lgtxhnQ4zA">https://join.slack.com/t/pengolincoinworkspace/shared_invite/zt-htuhp95c-scu3_cwoEjA7lgtxhnQ4zA</a></li>
            <li class="list-group-item active">#Social networks</li>
            <li class="list-group-item">Twitter: <a href="https://twitter.com/PengolinC">https://twitter.com/PengolinC</a></li>
            <li class="list-group-item">Facebook: <a href="https://www.facebook.com/PengolinCoin">https://www.facebook.com/PengolinCoin</a></li>
            <li class="list-group-item">Reddit: <a href="https://www.reddit.com/u/PengolinCoin/?utm_source=share&utm_medium=ios_app&utm_name=iossmf">https://www.reddit.com/u/PengolinCoin/?utm_source=share&utm_medium=ios_app&utm_name=iossmf</a></li>
            <li class="list-group-item active">#Others</li>
            <li class="list-group-item">Medium: <a href="https://medium.com/@cryptorigvin">https://medium.com/@cryptorigvin</a></li>
            <li class="list-group-item">Bitcointalk: <a href="https://bitcointalk.org/index.php?topic=5234832.0">https://bitcointalk.org/index.php?topic=5234832.0</a></li>
            <li class="list-group-item">Blockchain Infinity: <a href="https://t.co/vvgNRRJb6u?amp=1">https://t.co/vvgNRRJb6u?amp=1</a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
<coingecko-coin-price-chart-widget currency="usd" coin-id="pengolincoin" locale="en" height="300"></coingecko-coin-price-chart-widget>
  </div>

  <div class="col-3 card py-3 px-3 ml-3">
    <h4 class="border-bottom font-weight-bold mb-3">Statistics</h4>
    <p class="d-flex justify-content-between align-items-center">
      Online articles <span class="badge badge-success badge-pill px-3 rounded"
        style="font-size: 15px;">{{ articles|length }}</span>
    </p>
    <p class="mt-1 d-flex justify-content-between align-items-center">
      Online categories <span class="badge badge-success badge-pill px-3 rounded"
        style="font-size: 15px;">{{ categories|length }}</span>
    </p>
    <p class="mt-1 mb-3 pb-4 d-flex justify-content-between align-items-center">
      Registered users <span class="badge badge-success badge-pill px-3 rounded"
        style="font-size: 15px;">{{ users|length }}</span>
    </p>
    <h4 class="border-bottom font-weight-bold mb-3">NEW</h4>
    <div class="text-center pb-4">
      <a href="{{path('article_new')}}" class="btn btn-primary btn-block font-weight-bold rounded shadow"
        style="font-size: 20px;">Create a new article</a>
      <a href="{{path('category_new')}}" class="btn btn-warning btn-block font-weight-bold rounded shadow"
        style="font-size: 20px;">Create a new category</a>
    </div>
    <h4 class="border-bottom font-weight-bold mb-3">LIST</h4>
    <div class="text-center">
      <a href="{{path('admin_articles')}}" class="btn btn-success btn-block font-weight-bold rounded"
        style="font-size: 20px;">Articles list</a>
      <a href="{{path('admin_categories')}}" class="btn btn-info btn-block font-weight-bold rounded"
        style="font-size: 20px;">Categories list</a>
    </div>
  </div>

</div>

{% endblock %}