<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="PengolinCoin, coin, PGO, currency, cryptocurrency, Bitcoin, Dash, Ethereum, ETH, BTC, blog, news, info, POS, stake, blockchain, chain, block, transactions, defi, ERC20">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}Welcome on PengolinCoin blog!{% endblock %}
    </title>
    <link rel="stylesheet" href="https://bootswatch.com/4/spacelab/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />

    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('images/icons/apple-icon-57x57.png') }}" />
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('images/icons/apple-icon-60x60.png') }}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('images/icons/apple-icon-72x72.png') }}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('images/icons/apple-icon-76x76.png') }}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('images/icons/apple-icon-114x114.png') }}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('images/icons/apple-icon-120x120.png') }}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('images/icons/apple-icon-144x144.png') }}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('images/icons/apple-icon-152x152.png') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/icons/apple-icon-180x180.png') }}" />
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('images/icons/android-icon-192x192.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/icons/favicon-32x32.png') }}" />
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('images/icons/favicon-96x96.png') }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/icons/favicon-16x16.png') }}" />
    <link rel="manifest" href="{{ asset('images/icons/manifest.json') }}" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('images/icons/ms-icon-144x144.png') }}" />
    <meta name="theme-color" content="#ffffff">

    {% block stylesheets %}{% endblock %}
  </head>

  <body id="tothetop">
    <div class="container-fluid m-0 p-0">
      <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #3d8dcb;">
        <a class="navbar-brand" href="{{ path('article_index') }}">
          <img class="img-fluid" src="https://www.pengolincoin.xyz/img/assets/PGO_64x64.png" alt="PengolinCoin" />
          <span class="logo">PengolinCoin</span> 
          <span class="text-warning font-weight-bold font-italic mr-3">Blog</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse font-weight-bold" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ path('article_index') }}">
                Home <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ path('category_index') }}">
                Categories
              </a>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PGO links
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://www.pengolincoin.xyz">
                  Website
                </a>
                <a class="dropdown-item" href="http://blockexplorer.pengolincoin.xyz">
                  Block Explorer
                </a>
                <a class="dropdown-item" href="https://www.pengolincoin.xyz/PGOvideos.php">
                  PGO videos & tuto
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://www.pengolincoin.xyz/#charityPGO">
                  Charity
                </a>
              </div>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ path('search') }}">
                <i class="fas fa-search"></i> Search
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ path('contact') }}">
                <i class="far fa-envelope"></i> Contact us
              </a>
            </li>
          </ul>

          {% if app.user %}
            <div class="btn-group dropleft">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user fa-2x text-white"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <span class="dropdown-item">Hey!, {{ app.user.username }}</span>
                {% if is_granted('ROLE_ADMIN') %}
                  <span class="dropdown-item">Status: Admin</span>
                  <a class="dropdown-item" href="{{ path('admin_index') }}"><i class="fas fa-user-cog"></i> Go to Admin</a>
                {% else %}
                <span class="dropdown-item">Status: User</span>
                {% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('app_logout') }}">
                  <i class="fas fa-sign-out-alt"></i> Logout
                </a>
              </div>
            </div>
          {% else %}
            <a class="nav-link text-white" href="{{ path('app_login') }}">
              <i class="fas fa-sign-in-alt"></i> Login
            </a>
          {% endif %}
        </div>
      </nav>
    </div>

    <div class="container pt-4 pb-5">
      {% for msg in app.session.flashBag.get('successMessage') %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ msg }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endfor %}
    
      {% block body %}{% endblock %}
    </div>

    {% block footer %}
      <footer>
        <div class="container">
          <div class="row">
            <div id="footer-copyright" class="col text-center">
              <span class="text-muted">&copy; 2020 - The PGO Project</span>
              <div id="footer-resources">
                <a href="https://twitter.com/PengolinC" title="PGO Twitter" class="px-2">
                  <i class="fab fa-twitter-square"></i>
                </a>
                <a href="https://www.facebook.com/PengolinCoin-105101314474751" title="PGO Facebook" class="px-2">
                  <i class="fab fa-facebook-square"></i>
                </a>
                <a href="https://t.me/pengolincoin" title="PGO Telegram channel" class="px-2">
                  <i class="fab fa-telegram-plane"></i>
                </a>
                <a href="https://discord.gg/XTk8u4w" title="PGO Discord server" class="px-2">
                  <i class="fab fa-discord"></i>
                </a>
                <a href="https://bitcointalk.org/index.php?topic=5234832.0" title="PGO Bitcointalk thread" class="px-2">
                  <i class="fab fa-bitcoin"></i>
                </a>
                <a href="https://github.com/pengolincoin"
                  title="PGO Github" class="px-2">
                  <i class="fab fa-github-square"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    {% endblock %}


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
    
    {% block javascripts %}
      <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
      </script>
      <script>
        $('.custom-file-input').on('change', function(event) {
            var inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });
      </script>
    {% endblock %}

  </body>
</html>
