{% extends 'base.html.twig' %}

{% block title %}PengolinCoin Blog{% endblock %}

{% block body %}

<h2 class="font-weight-bold">Feature articles</h2>
<div class="row mt-2 p-3">
    {% for f in featured | reverse %}
        {% if f.featured == "yes" %}
            <div class="col-sm-4 shadow">
                <span class="font-weight-bold" style="font-size:16px;">
                    <a href="{{ path('article_show', {'slug': f.slug}) }}">{{ f.title }} - {{ f.id }}</a>
                </span>
                <div class="card-text text-justify text-muted" style="font-size:13px;">
                    <img src="uploads/article_image/{{ f.image }}" class="float-left mr-2 pt-1" style="max-width: 80px;" alt="{{ f.title }}" />
                    {{ f.content|slice(0, 100)|raw }}... 
                    <span class="badge badge-pill badge-info py-1 rounded">
                        <i class="far fa-clock"></i> {{ f.createdAt ? f.createdAt|date('m-d-Y') : '' }}
                    </span>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<h2 class="font-weight-bold pt-4">Last articles</h2>
<div class="row row-cols-1 row-cols-md-2 pt-2 pb-4">
    {% for article in articles|slice(0, 6) %}
    <div class="col mb-4">
        <div class="card h-100 shadow rounded">
            <div class="wprock-img-zoom-hover">
                <div class="wprock-img-zoom">
                    <img src="uploads/article_image/{{ article.image }}" class="card-img-top" style="max-height: 369px;"
                        alt="{{ article.title }}" />
                </div>
                <div class="card-body">
                    <h4 class="card-title font-weight-bold">
                        <a href="{{ path('article_show', {'slug': article.slug}) }}">{{ article.title }}</a>
                    </h4>
                    <div class="card-text text-justify text-muted">
                        {{ article.content|slice(0, 290)|raw }}...
                    </div>
                </div>
            </div>
            <div class="card-footer bg-transparent pb-3">
                <a href="{{path('category_show', { id: article.category.id }) }}"
                    class="badge badge-primary p-2 rounded">
                    <i class="fas fa-tag"></i> {{ article.category.title }}
                </a>
                <span class="badge badge-pill badge-info p-2 rounded">
                    <i class="far fa-clock"></i>
                    {{ article.createdAt
                ? article.createdAt|date('m-d-Y H:i:s')
                : '' }}
                </span>
                <span class="badge badge-pill badge-warning p-2 rounded">
                    <i class="far fa-user"></i> {{ article.author.username }}
                </span> 
                <span class="badge badge-pill badge-success p-2 rounded">
                    <i class="fas fa-eye"></i> {{ article.views }}
                </span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="pagination justify-content-center px-2">
    {{ knp_pagination_render(articles) }}
</div>

{% endblock %}