{% extends 'base.html.twig' %}

{% block title %}PengolinCoin Blog{% endblock %}

{% block body %}

<h2 class="font-weight-bold">Feature articles</h2>
<div class="row mt-2 p-3">
    {% for article in articles | slice(1,1) %}
    <div class="col-sm-4 shadow">
        <span class="font-weight-bold" style="font-size:17px;">
            <a href="{{ path('article_show', {'id': article.id}) }}">{{ article.title }}</a>
        </span>
        <div class="card-text text-justify text-muted" style="font-size:13px;">
            <img src="uploads/article_image/{{ article.image }}" class="float-left mr-2 pt-1" style="max-width: 80px;"
                alt="{{ article.title }}" />
            {{ article.content|slice(0, 100)|raw }}... <span class="badge badge-pill badge-info py-1 rounded">
                <i class="far fa-clock"></i>
                {{ article.createdAt
            ? article.createdAt|date('d-m-Y')
            : '' }}
            </span>
        </div>
    </div>
    {% endfor %}
    {% for article in articles | slice(4,1) %}
    <div class="col-sm-4 shadow">
        <span class="font-weight-bold" style="font-size:17px;">
            <a href="{{ path('article_show', {'id': article.id}) }}">{{ article.title }}</a>
        </span>
        <div class="card-text text-justify text-muted" style="font-size:13px;">
            <img src="uploads/article_image/{{ article.image }}" class="float-left mr-2 pt-1" style="max-width: 80px;"
                alt="{{ article.title }}" />
            {{ article.content|slice(0, 100)|raw }}... <span class="badge badge-pill badge-info py-1 rounded">
                <i class="far fa-clock"></i>
                {{ article.createdAt
            ? article.createdAt|date('d-m-Y')
            : '' }}
            </span>
        </div>
    </div>
    {% endfor %}
    {% for article in articles | slice(5,1) %}
    <div class="col-sm-4 shadow">
        <span class="font-weight-bold" style="font-size:17px;">
            <a href="{{ path('article_show', {'id': article.id}) }}">{{ article.title }}</a>
        </span>
        <div class="card-text text-justify text-muted" style="font-size:13px;">
            <img src="uploads/article_image/{{ article.image }}" class="float-left mr-2 pt-1" style="max-width: 80px;"
                alt="{{ article.title }}" />
            {{ article.content|slice(0, 100)|raw }}... <span class="badge badge-pill badge-info py-1 rounded">
                <i class="far fa-clock"></i>
                {{ article.createdAt
            ? article.createdAt|date('d-m-Y')
            : '' }}
            </span>
        </div>
    </div>
    {% endfor %}
</div>

<h2 class="font-weight-bold pt-4">Last articles</h2>
<div class="row row-cols-1 row-cols-md-2 pt-2 pb-4">
    {% for article in articles|slice(0, 6) %}
    <div class="col mb-4">
        <div class="card h-100 shadow rounded">
            <div class="wprock-img-zoom-hover">
                <div class="wprock-img-zoom">
                    <img src="uploads/article_image/{{ article.image }}" class="card-img-top" style="max-height: 369px;"
                        alt="{{ article.title }}" />
                </div>
                <div class="card-body">
                    <h4 class="card-title font-weight-bold">
                        <a href="{{ path('article_show', {'id': article.id}) }}">{{ article.title }}</a>
                    </h4>
                    <div class="card-text text-justify text-muted">
                        {{ article.content|slice(0, 290)|raw }}...
                    </div>
                </div>
            </div>
            <div class="card-footer bg-transparent pb-3">
                <a href="{{path('category_show', { id: article.category.id }) }}"
                    class="badge badge-primary p-2 rounded">
                    <i class="fas fa-tag"></i> {{ article.category.title }}
                </a>
                <span class="badge badge-pill badge-info p-2 rounded">
                    <i class="far fa-clock"></i>
                    {{ article.createdAt
                ? article.createdAt|date('d-m-Y H:i:s')
                : '' }}
                </span>
                <span class="badge badge-pill badge-warning p-2 rounded">
                    <i class="far fa-user"></i> {{ article.author.username }}
                </span> 
                <span class="badge badge-pill badge-success p-2 rounded">
                    <i class="fas fa-eye"></i> {{ article.views }}
                </span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="pagination justify-content-center px-2">
    {{ knp_pagination_render(articles) }}
</div>

{#
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Image</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.image }}</td>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_new') }}">Create new</a>
#}
{% endblock %}