{% extends 'base.html.twig' %}

{% block title %}Pengolincoin Blog: {{ article.title }}{% endblock %}

{% block body %}
<div class="container py-3">
    <div class="row">
        <div class="col shadow mr-4 pt-2 pb-3 text-justify">
            <h2 class="font-weight-bold pb-3">{{ article.title }}</h2>
            <a href="{{path('category_show', { id: article.category.id }) }}" class="badge badge-primary p-2 rounded">
                <i class="fas fa-tag"></i> {{ article.category.title }}
            </a>
            <span class="badge badge-pill badge-info p-2 rounded">
                <i class="far fa-clock"></i> {{ article.createdAt ? article.createdAt|date('d-m-Y H:i:s') : '' }}
            </span>
            {% if article.updatedAt != null %}
                <span class="badge badge-pill badge-secondary p-2 rounded">
                    <i class="fas fa-history"></i> {{ article.updatedAt ? article.updatedAt|date('d-m-Y H:i:s') : '' }}
                </span>
            {% endif %}

            <span class="badge badge-pill badge-warning p-2 rounded">
                <i class="far fa-user"></i> {{ article.author.username }}
            </span> 
            <span class="badge badge-pill badge-success p-2 rounded">
                <i class="fas fa-eye"></i> {{ article.views}}
            </span>
            <p>
                <img src="../uploads/article_image/{{ article.image }}" class="img-fluid float-left mr-3 mt-4" style="max-width: 400px;" alt="{{ article.title }}">
                {{ article.content | raw }}
            </p>
        </div>
        <div class="col-sm-3 shadow pt-3">
            <span class="mb-4" style="font-size:1rem; color:#3d8dcb;">About PengolinCoin</span>
            <p class="text-justify mt-4" style="font-size:13px;">
                PengolinCoin is a Proof of Stake (PoS), open source, decentralized blockchain-based cryptocurrency focused on achieving fast transactions, an active and involved community, real-world utilization, network scalability, and fungibility. PengolinCoin’s goal is to be accessible to everyone, everywhere.
            </p>
            <p class="pt-1">
                <a href="https://www.pengolincoin.xyz" style="font-size:0.80rem; color:#3d8dcb;" target="_blank"><i class="fas fa-link"></i> Go to PengolinCoin homepage</a>
            </p>
            <p class="text-justify mt-4 p-3 text-center border">
                <span style="font-size:1rem; color:#3d8dcb;">Share this article on</span><br>
                <a href="http://twitter.com/intent/tweet?text=%20https://blog.pengolincoin.xyz{{ path('article_show', {'id': article.id}) }}/;&url=https://twitter.com/pengolinC" target="_blank"><i class="fab fa-twitter-square fa-2x mt-2 mr-3"></i></a>
                <a href="https://www.facebook.com/sharer?u=https://blog.pengolincoin.xyz{{ path('article_show', {'id': article.id}) }}/" target="_blank"><i class="fab fa-facebook-square fa-2x mt-2 mr-3"></i></a>
            </p>

            {% if is_granted('ROLE_ADMIN') %}
                <p class="text-center pt-3" style="font-size:1rem; color:#3d8dcb;">Admin</p>
                <div class="row text-center py-3 px-2 mx-1 border">
                    <div class="col">
                        <a class="btn btn-info px-4" href="{{ path('article_edit', {'id': article.id}) }}">Edit</a>
                    </div>
                    <div class="col">
                        {{ include('admin/articles/_delete_form.html.twig') }}
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
</div>

    {#
    <a class="btn btn-primary" href="{{ path('article_index') }}">back to list</a>

    <a class="btn btn-info" href="{{ path('article_edit', {'id': article.id}) }}">edit</a>

    {{ include('admin/articles/_delete_form.html.twig') }}
    #}

{% endblock %}
