{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
<div class="container py-3">
    <div class="row">
        <div class="col bg-light mr-4 text-justify">
            <h1>{{ article.title }}</h1>
            <p>
                <img src="{{ article.image }}" class="img-fluid float-left mr-3 mt-2" style="max-width: 400px;" alt="{{ article.title }}">
                {{ article.content | raw }}
            </p>
        </div>
        <div class="col-sm-3 card text-center pt-3">
            <span class="lead font-weight-bold">Article details</span>
            <ul class="list-group mt-3">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    &rdsh;Created at
                  <span class="badge badge-pill px-3" style="font-size: 13px; background-color: #3d8dcb; color: white;">{{ article.createdAt ? article.createdAt|date('Y-m-d') : '' }}</span>
                </li>
                {% if article.updatedAt != null %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        &rdsh;Updated at
                    <span class="badge badge-dark badge-pill px-3" style="font-size: 13px; background-color: #3d8dcb; color: white;">{{ article.updatedAt ? article.updatedAt|date('Y-m-d') : '' }}</span>
                    </li>
                {% endif %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    &rdsh;Category
                  <span class="badge badge-dark badge-pill px-3 pb-1" style="font-size: 13px; background-color: #3d8dcb; color: white;"><a class="font-weight-bold text-white" href="{{ path('category_show', {'id': article.category.id}) }}">{{ article.category.title }} <i class="fas fa-caret-right"></i></a></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    &rdsh;Created at
                    <span class="badge badge-dark badge-pill px-3" style="font-size: 13px; background-color: #3d8dcb; color: white;">{{ article.author.username }}</span>
                </li>
              </ul>

                

        </div>
    </div>


    {#}
    <a class="btn btn-primary" href="{{ path('article_index') }}">back to list</a>

    <a class="btn btn-info" href="{{ path('article_edit', {'id': article.id}) }}">edit</a>

    {{ include('admin/articles/_delete_form.html.twig') }}
    #}

</div>
{% endblock %}
